.footer {
    background-color: transparent;
    padding: 15px;
    transition: all 3s ease-in-out;
    clear: both;
    position: relative;
    height: 180px;
    width: 100%;
}
@media only screen and (max-width : 991.98px) {
    .footer-bottom {
        margin-top: -200px;
     }
    }

.social-links {
    list-style: none;
    text-align: center;
    padding: 0;
}

.social-icons {
    display: inline-block;
    padding: 5px 5px;
}

.social-icons img {
    display: block;
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
}