.navigation {
    background-color: transparent;
    color: white;
}

.links {
    padding: 10px;
}

.btn {
    margin-right: 5px;
}
@media only screen and (max-width : 591.98px) {
    .btn  {
        margin-right: 1px;
        font-size: 11px;
        width: 60px;
        height: 30px;
     }
    }